@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --font-family: 'ProximaNova', sans-serif;
    --header-default-layout-height:60px;
    --header-default-layout-width:1150px;
    --header-default-layout-horizontal-space:24px;
}
html{
    font-size: 62.5%;
}
body{
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}
button,input,[tabindex]{
    outline:none;
    border: none;
}
a[href]{
    color:var(--text-color);
    text-decoration: none;
}
//custom type tooltip
body{
    .tippy-box{
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    .tippy-arrow{
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-content{
        padding:8px 9px;
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before{
        top: -8px;
    }
}