@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --font-family: 'ProximaNova', sans-serif;
    --header-default-layout-height:60px;
    --header-default-layout-width:1150px;
}
html{
    font-size: 62.5%;
}
body{
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}
button,input,[tabindex]{
    outline:none;
    border: none;
}
a[href]{
    color:var(--text-color);
    text-decoration: none;
}